*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    padding-top: 50px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

/* header */

header {
    margin-bottom: 25px;
    text-align: center;
}

h1 {
    font-weight: 900;
    color: #e53170;
    font-size: 36px;
    margin-bottom: 60px;
}

header p {
    font-weight: 400;
}

/* fine header */
main {
    text-align: center;

}

.profile {
    height: 120px;
    float: left;
}

div.box {
    width: calc(80% / 3);
    height: 120px;
    background-color: #0f0e17;
    display: inline-block;
    margin: 30px 18px;
    box-shadow: #0f0e17 2px 2px 5px;
}

div.text-box {
    display: inline-block;
    color: white;
    padding: 18px;
}

h2 {
    display: inline-block;
    font-weight: 900;
    font-size: 18px;
    padding: 5px 3px;
}

p.job {
    font-size: 15px;
    padding: 3px;
}

address {
    font-size: 15px;
    padding: 3px;
    font-style: normal;
    color: #2bb3ec;
}
