*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* senza clearfix il programma risulta funzionare comunque, 
   in questo caso è meglio rimuoverlo?  */

.clearfix::after{
    content: '';
    display: table;
    clear:both;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    padding-top: 50px;
    width: 75%;
    margin: 0 auto;
}

/* header */

header {
    margin-bottom: 25px;
    text-align: center;
}

h1 {
    font-weight: 900;
    color: #e53170;
    font-size: 36px;
    margin-bottom: 55px;
}

/* fine header */

/* Profili team */

.profile {
    height: 130px;
    float: left;
}

div.box {
    width: calc(90% / 3);
    background-color: #0f0e17;
    display: inline-block;
    margin: 30px 10px;
    box-shadow: #0f0e17 2px 2px 5px;
}

div.box:nth-child(2), div.box:nth-child(5) {
    margin: 0 40px;
}

div.box:nth-child(1), div.box:nth-child(4) {
    margin-left: 20px;
}

div.text-box {
    display: inline-block;
    color: white;
    padding: 18px;
}

h2 {
    display: inline-block;
    font-weight: 900;
    font-size: 18px;
    padding: 5px 3px;
}

p.job {
    font-size: 15px;
    padding: 3px;
}

address {
    font-size: 15px;
    padding: 3px;
    font-style: normal;
    color: #2bb3ec;
}
